.RNGCalc {
  font-size: 1.5rem;
}
label {
  display: block;
}
input {
border-radius: 5px;
font-size: 1rem;
line-height: 1.5rem;
}
input[type=number] {
  display: inline-block;
  margin: 0.5rem 0 1rem 0;
  width: 10rem;
  border: 1px solid #000;
}
input[type=submit] {
  background-color: #518812;
  color: white;
  width: 9rem;
  padding: 0.25rem 1rem;
}
#outcomeProb {
  width: 3.5rem;
}
.hint {
  font-size: 1rem;
  color: #111;
  padding-left: 0.25rem;
}
