.RNGCalc {
  font-size: 1.5rem;
}
label {
  display: block;
}
input[type=number] {
  display: inline-block;
  margin: 0.5rem 0 1rem 0;
  height: 1rem;
  width: 6rem;
}
input[type=submit] {
  background-color: green;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
}
#outcomeProb {
  width: 3.5rem;
}
.hint {
  color: #bbb;
}
